	{{>header}}
	
	<h1>Mustache with Spring Boot</h1>
	
	{{#bookList}}
	    <b> Book ID: </b>{{bookId}}
	    <b> ISBN Number: </b>{{isbn}}
	    <b> Book Title: </b>{{bookTitle}}
	    <b> Author: </b>{{author}}
	    <b> Price: </b>{{price}}
	    <br>
	    <hr>
	{{/bookList}}
	
	{{>footer}}